<p>dirctivs works!</p>




<table border="1">

     <tr>
         <th appDir1 color='blue' >dir1</th>
         <th appDir1 color='orange'>dir2</th>
         <th appDir1 color='black'>dir3</th>
         <th appDir1>dir4</th>
         <th appDir1>dir5</th>
         <th appDir1>dir6</th>
    </tr>

    <tr>
      <td appDir2>1</td>
      <td appDir2>2</td>
      <td appDir2>3</td>
      <td appDir2>4</td>
      <td appDir2>5</td>
      <td appDir2>6</td>

    </tr>
    <tr>
            <td appDir3>1</td>
            <td appDir3>2</td>
            <td appDir3>3</td>
            <td appDir3>4</td>
            <td appDir3>5</td>
            <td appDir3>6</td>
      
          </tr>
          <tr>
                <td appDir4>1</td>
                <td appDir4>2</td>
                <td appDir4>3</td>
                <td appDir4>4</td>
                <td appDir4>5</td>
                <td appDir4>6</td>
          
              </tr>
              
                  
              
              
          
      


</table>
dirctiv5  and dirictiv6<input appDir5 appDir6><br>

<select appDir7>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>

</select>

<ul>
    <li *ngFor='let a of arrr'>
        {{a}}
    </li>
</ul>
<input appDir8>

